
.contact_us_page{
    background-color: #f5f7f9;
}
.banner{
    background-image: url("../assets/images/contactus.jpg");
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}
.banner h1{
    padding: 15% 10%;
    text-align: center;
    color: #fff;
    font-size: 55px;
    line-height: 75px;
    position: relative;
    z-index: 2;
}
.have_any_section{
    padding: 50px 0px;
}
.have_any_top{
    text-align: center;
}
.have_any_top h2{
    font-size: 42px;
    line-height: 65px;
    padding-bottom: 30px;
    position: relative;
    display: inline-block;
}
.have_any_top h2::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 64px;
    left: 159px;
    background-color: black;
    top: 71px;
}
.have_any_top h5{
    font-size: 18px;
}
.have_any_cards{
    display: flex;
}
.contact_card{
    margin: 10px;
    box-shadow: 0px 0px 3px rgba(148,144,144,0.5);
    text-align: center;
    padding: 35px 19px;
    border-radius: 5px;
    transition: .4s;
}
.contact_card:hover{
    box-shadow: 0px 3px 3px rgba(148,144,144,0.5);
}
.contact_card h3{
    font-size: 23px;
    margin: 0px 0px 15px;
}
.contact_card p{
    line-height: 26px;
}
.contact_card h5{
    font-size: 18px;
    color: #0084D6;
    margin-top: 15px;
}
.main_wrapper{
    display: flex;
}
.contact_text{
    flex-basis: 50%;
    padding: 90px 100px 0px 0px;
}
.contact_text h2{
    margin-bottom: 15px;
    line-height: 65px;
}
.contact_text h6{
    font-size: 15px;
    line-height: 36px;
}
.contact_text p{
    margin: 0px 0px 25.6px;
    line-height: 26px;
    color: #333;
}
.contact_form{
    flex-basis: 50%;
    padding:40px;
}